.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.banner {
  width: 85%;
  border-radius: 5px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}
