.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin: 2rem auto;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(1024px / 2);
  gap: 1rem;
}

.formControl {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.label {
  font-size: 1.25rem;
  font-weight: 600;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 2rem;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(152, 7.2%, 88.4%);
  background-color: hsl(155, 3.5%, 55.5%);
  color: hsl(153, 6.7%, 85.3%);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 250ms ease-in-out;
}

.btn:hover {
  background-color: hsl(155, 3%, 43%);
}
